    body {
       background-image: url("imagenes/murder4.jpg");
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       font-family: Arial, sans-serif;
       text-align: center;
       padding: 50px;
    }

    h1 {
      color: #cc00ff;
    }

    p {
      color: #ffffff;
      font-size: 18px;
    }

    .boton {
     padding: 10px 10px 10px 10px;
     margin-left: 20px;
     border-radius: 20px; 
     background: linear-gradient(90deg, #00ffff, #ae00ff);
     color: #fff;
     border: none;
     cursor: pointer;
     transition: background 0.3s;
     box-shadow: 0 0 1px #00ffff, 0 0 10px #00b7ff;
    }

    .boton:hover {
      background-color: #5555ff;
    }